admin_panel1/venv
admin_panel1/project1/db.sqlite3
admin_panel1/project1/project1/__pycache__
admin_panel1/project1/app1/migrations
admin_panel1/project1/app1/__pycache__


admin_panel3/venv
admin_panel3/project1/db.sqlite3
admin_panel3/project1/project1/__pycache__
admin_panel3/project1/app1/migrations
admin_panel3/project1/app1/__pycache__


DJango_Template_inheritance/db.sqlite3
DJango_Template_inheritance/gs21/__pycache__
DJango_Template_inheritance/course/__pycache__
DJango_Template_inheritance/course/migrations
DJango_Template_inheritance/core/__pycache__
DJango_Template_inheritance/core/migrations


Django_Funcbase_CRUD/db.sqlite3
Django_Funcbase_CRUD/enroll/__pycache__
Django_Funcbase_CRUD/enroll/migrations
Django_Funcbase_CRUD/crudproject1/__pycache__


DJango_classbase_CRUD/crud_class/db.sqlite3
DJango_classbase_CRUD/crud_class/enroll/__pycache__
DJango_classbase_CRUD/crud_class/enroll/migrations
DJango_classbase_CRUD/crud_class/crud_class/__pycache__


Authentication_60/venv
Authentication_60/project1/db.sqlite3
Authentication_60/project1/project1/__pycache__
Authentication_60/project1/app1/__pycache__
Authentication_60/project1/app1/migrations


signup_usercreationform_61/venv
signup_usercreationform_61/project1/db.sqlite3
signup_usercreationform_61/project1/project1/__pycache__
signup_usercreationform_61/project1/app1/__pycache__
signup_usercreationform_61/project1/app1/migrations


signup_form_usercreationform_62/venv
signup_form_usercreationform_62/project1/db.sqlite3
signup_form_usercreationform_62/project1/project1/__pycache__
signup_form_usercreationform_62/project1/app1/__pycache__
signup_form_usercreationform_62/project1/app1/migrations


AuthenticationForm_Profile Page_Logout63/venv
AuthenticationForm_Profile Page_Logout63/project1/db.sqlite3
AuthenticationForm_Profile Page_Logout63/project1/project1/__pycache__
AuthenticationForm_Profile Page_Logout63/project1/app1/__pycache__
AuthenticationForm_Profile Page_Logout63/project1/app1/migrations



AuthenticationForm_Profile Page_Logout_changepass64/venv
AuthenticationForm_Profile Page_Logout_changepass64/project1/db.sqlite3
AuthenticationForm_Profile Page_Logout_changepass64/project1/project1/__pycache__
AuthenticationForm_Profile Page_Logout_changepass64/project1/app1/__pycache__
AuthenticationForm_Profile Page_Logout_changepass64/project1/app1/migrations





AuthenticationForm_Profile Page_Logout_changepass65/venv
AuthenticationForm_Profile Page_Logout_changepass65/project1/db.sqlite3
AuthenticationForm_Profile Page_Logout_changepass65/project1/project1/__pycache__
AuthenticationForm_Profile Page_Logout_changepass65/project1/app1/__pycache__
AuthenticationForm_Profile Page_Logout_changepass65/project1/app1/migrations




























