{% extends 'base.html' %}
{% block body %}
    <form>
        {% csrf_token %}
        <input type="hidden" id="member_id" value="{{ member.id }}"/>
        <div class="mb-3">
            <label>Firstname</label>
            <input type="text" id="firstname" value="{{ member.firstname }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <label>Lastname</label>
            <input type="text" id="lastname" value="{{ member.lastname }}" class="form-control" required="required"/>
        </div>
        <div class="mb-3">
            <button type="button" id="update" class="btn btn-warning">Update</button>
        </div>
    </form>
{% endblock %}